@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

.btn-primary {
  background-color: orange;
}

footer {
  background-color: orange;
  color: #fff;
}
.border{
  width: 350px;
}